@font-face {
    font-family: 'Great Vibes', cursive;
    src: url("https://fonts.googleapis.com/css?family=Great+Vibes&v1&display=swap")
}

@font-face {
      font-family: 'Gilroy-Bold', sans-serif;
      src: url("../fonts/Gilroy-Bold.ttf")
}

@font-face {
      font-family: 'Gilroy-Medium', sans-serif;
      src: url("../fonts/Gilroy-Medium.ttf")
}

